.App-nav {
    width: 25vw;
    height: 85vh;
    background-color: aqua;
}

.NotePageNav_back-button {
    font-size: 16pt;
    text-decoration: none;
    color: gray;
    font-weight: 700;
}

.NotePageNav_folder-name {
    font-size: 16pt;
    text-decoration: none;
    color: dodgerblue;
    font-weight: 700;
}

.NoteListNav_num-notes {
    float: left;
    color: red;
}

.NotePageNav {
    text-align: end;
    padding: 3%;
}

.folderNameLabel {
    float: left;
    color: dodgerblue;
}
