.Noteful-form {
  padding: 0 0 0 3%;
  width: 50%;
}

.Noteful-form label {
  font-size: 16pt;
  padding-bottom: 1%;
}

.AddNote h2 {
  padding: 0 0 0 3%;
}

.Noteful-form input,
.Noteful-form textarea,
.Noteful-form select {
  font-size: 14pt;
  width: 100%;
}

.Noteful-form button {
  font-size: 18pt;
  margin-top: 5%;
  text-align: center;
  text-decoration: none;
}