.App-header {
    width: 100%;
    height: 15vh;
    background-color: green;
}

.App-main-container {
    width: 100%;
    height: 85vh;
    background-color: grey;
    display: flex;
}

.home-button {
    color: white;
    font-size: 20pt;
    position: relative;
    left: 28%;
    top: 40%;
}
